.home-card {
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  margin: 2vh;
  border-radius: 5%;
}

/* .home-card h6 {
  color: white;
  animation: home-word-appear infinite 20s linear
} */

/* @keyframes home-word-appear {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(369deg);
    opacity: 1;
  }
} */

/* .home-card span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.center-letter {
  display: block;
  margin: 0 auto;
}

.wordDiv {
  position: relative;
  display: inline-block;
  text-align: center;
} */

/* .center-letter:nth-of-type(1) {
  right: 100%;
}

.center-letter:nth-of-type(2) {
  left: 100%;
} */

.center-capital {
  display: inline-block;
  text-align: center;
  width: 1.1em;
}

.word-div {
  width: 100%;
  display: flex;
}

.word-div span {
  font-size: 300%;
}

/* @media screen and (max-width: 500px) {

  .word-div span {
    font-size: 200%;
  }
} */

.is-red {
  align-items: center;
}