/* .weather-card {
  height: 225vh;
  width: 85vw;
} */

.weather-card-content {
  color: var(--white);
}

.App {
  text-align: center;
}

.App-header {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 80vh;
  /* height: calc(80vh + (35vh * var(--is-city-selected))); */
  /* min-height: 120vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}