.weather-main {
  position: relative;
  height: 115vh;
  width: 90vw;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px var(--silver);
  margin: 2vh 0;
}

.inner-main {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-main p {
  padding: 0px 0px 5px 0px;
  position: relative;
  transition: all 0.5s ease-out;
  color: var(--weatherBlue);
}

.inner-main > img {
  position: relative;
  left: 0;
  top: 5vh;
  width: 50vw;
  transition: visibility 2s ease-out;
}

.today {
  position: relative;
  width: 80vw;
  left: 5vw;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.today > h1 {
  margin-bottom: 2vh;
}

.weather-title {
  position: absolute;
  color: var(--weatherTitle);
  font-size: medium;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weather-title:before {
  content: '';
  background: url('../images/02d.png') no-repeat;
  background-size: 100%;
  width: 50vw;
  height: 50vh;
  display: block;
}

.weather-main.city-selected + .App-header {
  --is-city-selected: 1;
}

.weather-main + .App-header {
  --is-city-selected: 0;
}

@media screen and (min-width: 800px) {
  .weather-main {
    /* top: 15vh; */
    top: -25px;
    height: 480px;
    width: 980px;
    border-radius: 30px;
  }

  .inner-main {
    width: 800px;
  }

  .inner-main > img {
    left: -80px;
    top: 90px;
    width: 300px;
  }

  .today {
    width: 350px;
    top: 90px;
  }

  .today > h1 {
    margin-bottom: 15px;
  }

  .weather-title {
    top: -10px;
    font-size: 4rem;
    width: 800px;
  }

  .weather-title:before {
    width: 250px;
    height: 250px;
  }
}