.nav-card {
  background: var(--white);
  border-bottom: 2px solid var(--highdark);
  box-shadow: 2px 0 4px var(--white);
  /* height: 10vh; */
  display: flex;
  align-items: center;

  --bs-navbar-padding-y: 0 !important;
}

.nav-container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  --bs-gutter-x: 5vw;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .2);
  padding-left: calc(var(--bs-gutter-x) * .2);
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title img {
  width: 11vh;
  height: 11vh;
  margin: 0 4vw 0 0;
  border-radius: 2px;
  border: 2px solid var(--turq);
}

.header-title h2 {
   font-size: small;
   margin-bottom: 0;
}

.navbar-toggler {
  font-size: 5vh;
}

.navbar-nav .nav-link {
  font-size: 3vh;
}