.nav-card {
  background: var(--white);
  border-top: 2px solid var(--highdark);
  border-bottom: 2px solid var(--highdark);
  box-shadow: 2px 0 4px var(--white);
  height: auto;
  display: flex;
  align-items: center;
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title img {
  width: 10vh;
  height: 10vh;
  margin-right: 2vw;
}

.header-title h1 {
   font-size: small;
}


.nav-link {
  color: var(--tertiary);
}

.nav-link:hover {
  color: var(--white);
}

.nav {
  color: var(--tertiary);
}

.nav:hover {
  color: var(--white);
}

.nav .nav-item .nav-link.active {
  color: var(--highdark) !important;
}
