.portfolio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.portfolio-card {
  margin: 2em;
  /* background: rgb(255, 255, 255 50%); */
  background: var(--white);
  border-radius: 4vh;
  /* padding-bottom: 2em; */
  box-shadow: 2px 2px 4px var(--black);
  display: flex;
  flex-direction: column;
}

.portfolio-card-heading {
  background: var(--turq);
  min-height: 10vh;
  font-size: 5vh;
  color: var(--highdark);
  padding: 2vw;
  border-radius: 4vh 4vh 0 0;
  border: 2px solid var(--highdark);
  text-shadow: 2px 2px 4px var(--white);
}

.portfolioCardContent {
  /* padding: 2em; */
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.slider-container {
  /* max-width: 50%; */
  /* height: auto; */
  /* margin: 3em; */
  width: 75%;
  height: 50%;
}

.slider-button {
  font-size: 2rem;
  z-index: 10;
  position: fixed;
  top: 50%;

}

.slider-button-left {
  left: .5rem;
}

.slider-button-right {
  right: .5rem;
}